{% load url from future %}
{% load i18n %}
<!doctype html>
<html>
<head>
    <title>Teste - {% block title %}{% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans+UI:400,700' rel='stylesheet' type='text/css'>
    <link href='{{ STATIC_URL }}css/styles.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="page">
        <header>
            <h2><a href="/">Python Start Project</a></h2>
        </header>
        {% block content %}{{ content }}{% endblock %}
        <footer>
            <p>Esse software foi escrito utilizando Python e Django. Conteúdo livre sob licença GPL e MIT</p>
        </footer>
    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
</body>
</html>